
xelnaga-palettized.jpg

xelnaga-pixelated.jpg

xelnagatiles-palettized.jpg

xelnagatiles-pixelated.jpg

xelnagatiles5x3-palettized.jpg

xelnagatiles5x3-pixelated.jpg

.DS_Store

header_fbdude-palettized.png

header_fbdude-pixelated.png

header_fbdude-stretched-middle-palettized.jpg

header_fbdude-stretched-middle-pixelated.jpg

header_fbdude-weirdx2-palettized.jpg

header_fbdude-weirdx2-pixelated.jpg

6windows-palettized.jpg

6windows-pixelated.jpg

fancywindows-palettized.jpg

fancywindows-pixelated.jpg

whitewindows-palettized.jpg

whitewindows-pixelated.jpg

*.pyc
